/* Bagian Header */

.header-area .main-header {
    padding: 0px 130px;
  }
  @media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .header-area .main-header {
      padding: 0px 30px;
    }
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header-area .main-header {
      padding: 0px 15px;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-area .main-header {
      padding: 22px 50px;
    }
  }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .header-area .main-header {
      padding: 22px 20px;
    }
  }
  @media (max-width: 575px) {
    .header-area .main-header {
      padding: 22px 14px;
    }
  }
  @media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .header-area .main-header .main-menu {
      margin-right: 30px;
    }
  }
  .header-area .main-header .main-menu ul li {
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  .header-area .main-header .main-menu ul li a {
    color: #102039;
    font-weight: 600;
    padding: 39px 27px;
    display: block;
    font-size: 16px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    text-transform: capitalize;
    position: relative;
    font-family: "Muli", sans-serif;
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header-area .main-header .main-menu ul li a {
      padding: 39px 15px;
    }
  }
  .header-area .main-header .main-menu ul li:hover > a {
    color: #0f61ef;
  }
  .header-area .main-header .main-menu ul ul.submenu {
    position: absolute;
    width: 170px;
    background: rgba(255, 255, 255, 0.9);
    left: 0;
    top: 80%;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
    padding: 17px 0;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .header-area .main-header .main-menu ul ul.submenu > li {
    margin-left: 7px;
    display: block;
  }
  .header-area .main-header .main-menu ul ul.submenu > li > a {
    padding: 6px 10px !important;
    font-size: 16px;
    text-transform: capitalize;
    margin: 0;
  }
  .header-area .main-header .main-menu ul ul.submenu > li > a:hover {
    color: #0f61ef;
    background: none;
  }
  .header-area .main-menu ul ul.submenu > li > a:hover {
    padding-left: 13px !important;
  }
  .header-area .main-menu ul > li:hover > ul.submenu {
    visibility: visible;
    opacity: 1;
    top: 100%;
  }

/* bagian header  */

/* bagian menu untuk tampilan mobile  */

.mobile_menu {
    position: absolute;
    right: 0px;
    width: 100%;
    z-index: 99;
  }
  .mobile_menu .slicknav_menu {
    background: transparent;
    margin-top: 0px !important;
  }
  .mobile_menu .slicknav_menu .slicknav_btn {
    top: -36px;
  }
  .mobile_menu .slicknav_menu .slicknav_btn .slicknav_icon-bar {
    background-color: #0f61ef !important;
  }
  .mobile_menu .slicknav_menu .slicknav_nav {
    margin-top: 15px !important;
  }
  .mobile_menu .slicknav_menu .slicknav_nav a:hover {
    background: transparent;
    color: #0f61ef;
  }
  .mobile_menu .slicknav_menu .slicknav_nav a {
    font-size: 15px;
    padding: 7px 10px;
  }
  .mobile_menu .slicknav_menu .slicknav_nav .slicknav_item a {
    padding: 0 !important;
  }

/* bagian menu untuk tampilan mobile  */

/* bagian home */

.slider-area {
  margin-top: -1px;
  background-image: url(../img/bg/UNW.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.slider-area .hero__caption {
  overflow: hidden;
}
.slider-area .hero__caption span {
  font-size: 18px;
  font-family: "Muli", sans-serif;
  font-weight: 600;
  margin-bottom: 35px;
  text-transform: uppercase;
  color: #396cf0;
  display: inline-block;
  position: relative;
  padding-left: 100px;
  letter-spacing: 0.05em;
}
@media (max-width: 575px) {
  .slider-area .hero__caption span {
    font-size: 13px;
  }
}
@media (max-width: 575px) {
  .slider-area .hero__caption span {
    padding-left: 69px;
  }
}
.slider-area .hero__caption span::before {
  position: absolute;
  content: "";
  width: 70px;
  height: 2px;
  background: #396cf0;
  top: 0;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 575px) {
  .slider-area .hero__caption span::before {
    width: 50px;
  }
}
.slider-area .hero__caption h1 {
  font-size: 70px;
  font-weight: 900;
  margin-bottom: 14px;
  color: #102039;
  line-height: 1.2;
  margin-bottom: 30px;
  text-transform: uppercase;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .slider-area .hero__caption h1 {
    font-size: 70px;
    line-height: 1.2;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .slider-area .hero__caption h1 {
    font-size: 50px;
    line-height: 1.2;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .slider-area .hero__caption h1 {
    font-size: 35px;
    line-height: 1.4;
  }
}
@media (max-width: 575px) {
  .slider-area .hero__caption h1 {
    font-size: 29px;
    line-height: 1.5;
  }
}
.slider-area .hero__caption h1 strong {
  color: #0f61ee;
}
.slider-area .hero__caption p {
  font-size: 18px;
  color: #212025;
  font-family: "Muli", sans-serif;
  margin-bottom: 50px;
  padding-right: 35px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .slider-area .hero__caption p {
    padding-right: 13px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .slider-area .hero__caption p {
    padding-right: 0px;
  }
}
@media (max-width: 575px) {
  .slider-area .hero__caption p {
    padding-right: 0px;
    font-size: 15px;
  }
}

/* bagian home  */

/* bagian about */
@media (max-width: 575px) {
  .about-area .about-caption {
    margin-bottom: 35px;
  }
}
.about-area .about-caption p {
  font-size: 16px;
  color: #64676c;
  line-height: 1.6;
  margin-bottom: 35px;
  padding-right: 50px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .about-area .about-caption p {
    padding-right: 20px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .about-area .about-caption p {
    padding-right: 0px;
  }
}
@media (max-width: 575px) {
  .about-area .about-caption p {
    padding-right: 0px;
  }
}
.about-area .about-caption ul {
  margin-bottom: 75px;
}
@media (max-width: 575px) {
  .about-area .about-caption ul {
    margin-bottom: 50px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .about-area .about-caption ul {
    margin-bottom: 50px;
  }
}
.about-area .about-caption ul li {
  color: #000;
  font-size: 16px;
}
.about-area .about-caption ul li span {
  color: #2d3092;
  font-size: 30px;
  position: relative;
  top: 4px;
  margin-right: 14px;
}
.about-area .about-img {
  position: relative;
}
.about-area .about-img .about-font-img {
  position: absolute;
  z-index: 0;
  left: 0;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .about-area .about-img .about-font-img img {
    width: 106%;
  }
}
@media (max-width: 575px) {
  .about-area .about-img .about-font-img img {
    width: 100%;
  }
}
.about-area .about-img .about-back-img {
  position: absolute;
  top: 60px;
  right: -180px;
  z-index: 1;
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .about-area .about-img .about-back-img {
    right: -10px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .about-area .about-img .about-back-img {
    right: -19px;
  }
}
.about-area .about-img .about-back-img img {
  border: 10px solid #f2f2f2;
}
@media (max-width: 575px) {
  .about-area .about-img .about-back-img img {
    width: 90%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .about-area .about-img .about-back-img {
    position: unset;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .about-area .about-img .about-back-img {
    position: unset;
  }
}
@media (max-width: 575px) {
  .about-area .about-img .about-back-img {
    position: unset;
  }
}
/* bagian about */